.result-container {
  background-color: #f8fafc;
}

.search-for-text {
  height: 16px;
  margin: 3px 10px 2px 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  color: #334155;
}

.keyword-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.64px;
  color: #7b34dd;
}

.load-more-container {
  height: 34px;
  margin: 20px 60px 40px;
  padding: 10px 29px;
  border-radius: 17px;
  background-color: #e2e8f0;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.43px;
  color: #64748b;
}
